#playcanvas {
  border: 2px solid red;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 255,255, 0);
  z-index: 886;
}
#lifeBlock {
  border: 2px solid red;
  float: left;
  clear: both;
  z-index: 999;
  position: relative;
  right: -34px;
  top: 10px;
}
#scoreBlock {
  border: 2px solid red;
  float: right;
  clear: right;
  z-index: 999;
  position: relative;
  right: 90px;
  top: 10px;
}
#skillSet {
  border: 2px solid red;
  float: left;
  clear: both;
  z-index: 999;
  position: relative;
  right: -34px;
  top: -180px;
}
#passiveSet {
  border: 2px solid red;
  float: left;
  clear: both;
  z-index: 999;
  position: relative;
  right: -34px;
  top: -180px;
}
#background{
  position: relative;
  top: 542px;
  display: block;
  margin: 0 auto;
  z-index: -1;
}
.skillBlock{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}
.passiveBlock{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}
.progress-bar{
  width: 100%;
}
.clear {
  clear: both;
  margin: 0;
  padding: 0;
}
